:root {
	--font-sans:
		'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--radius: 0.5rem;
	--color-background: light-dark(oklch(1 0 0), oklch(0.148 0.004 228.8));
	--color-foreground: light-dark(oklch(0.148 0.004 228.8), oklch(0.987 0.002 197.1));
	--color-primary: light-dark(oklch(0.555 0.163 48.998), oklch(0.473 0.137 46.201));
	--color-primary-foreground: oklch(0.987 0.022 95.277);
	--color-muted: light-dark(oklch(0.963 0.002 197.1), oklch(0.275 0.011 216.9));
	--color-muted-foreground: light-dark(oklch(0.56 0.021 213.5), oklch(0.723 0.014 214.4));
	--outline-style: dashed;
	--outline-width: 0.125rem;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
}

html,
:host {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-sans);
	line-height: 1.5;
	tab-size: 4;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

::view-transition-old(root) {
	animation-delay: 0.5s;
}

::view-transition-new(root) {
	animation: circle-in 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes circle-in {
	from {
		clip-path: circle(0% at 100% 0%);
	}
	to {
		clip-path: circle(150% at 100% 0%);
	}
}

button,
[data-button-root] {
	--button-background: var(--color-background);
	--button-foreground: var(--color-foreground);
	height: 2rem;
	padding-inline: 0.875rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--button-background);
	color: var(--button-foreground);
	border-radius: var(--radius);
	outline: none;
	user-select: none;
	font-size: 0.875rem;
	font-weight: 500;
	text-decoration: none;

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	&:focus-visible {
		outline: var(--outline-width) var(--outline-style)
			color-mix(in lab, var(--color-primary) 80%, transparent);
	}

	& svg {
		pointer-events: none;
	}

	&:hover {
		background-color: color-mix(in lab, var(--button-background) 85%, var(--color-background));
	}

	&.primary {
		--button-background: var(--color-primary);
		--button-foreground: var(--color-primary-foreground);
	}
}

dialog {
	margin: auto;
	background-color: color-mix(in lab, var(--color-background) 90%, var(--color-foreground));
	border-radius: var(--radius);
}
::backdrop {
	background-color: rgb(0 0 0 / 0.2);
}
