@import 'tailwindcss';

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
}

@layer base {
	:root {
		--background: oklch(100% 0 0);
		--foreground: oklch(14.05% 0.0044 285.82);
		--card: oklch(100% 0 0);
		--card-foreground: oklch(14.05% 0.0044 285.82);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(14.05% 0.0044 285.82);
		--primary: oklch(58.59% 0.2221 17.55);
		--primary-foreground: oklch(96.99% 0.0149 12.4);
		--secondary: oklch(96.76% 0.0013 286.38);
		--secondary-foreground: oklch(21.03% 0.0059 285.88);
		--muted: oklch(96.76% 0.0013 286.38);
		--muted-foreground: oklch(55.19% 0.0137 285.94);
		--accent: oklch(96.76% 0.0013 286.38);
		--accent-foreground: oklch(21.03% 0.0059 285.88);
		--destructive: oklch(57.71% 0.2151 27.32);
		--destructive-foreground: oklch(98.48% 0 0);
		--border: oklch(91.97% 0.004 286.32);
		--input: oklch(91.97% 0.004 286.32);
		--ring: oklch(58.59% 0.2221 17.55);
		--radius: 0.5rem;
	}
	.dark {
		--background: oklch(14.67% 0.0041 49.31);
		--foreground: oklch(96.19% 0 0);
		--card: oklch(21.61% 0.0061 56.04);
		--card-foreground: oklch(96.19% 0 0);
		--popover: oklch(20.44% 0 0);
		--popover-foreground: oklch(96.19% 0 0);
		--primary: oklch(58.59% 0.2221 17.55);
		--primary-foreground: oklch(96.99% 0.0149 12.4);
		--secondary: oklch(27.41% 0.0055 286.03);
		--secondary-foreground: oklch(98.48% 0 0);
		--muted: oklch(26.97% 0 0);
		--muted-foreground: oklch(71.19% 0.0129 286.07);
		--accent: oklch(26.85% 0.0063 34.3);
		--accent-foreground: oklch(98.48% 0 0);
		--destructive: oklch(39.59% 0.1331 25.72);
		--destructive-foreground: oklch(97.1% 0.0127 17.38);
		--border: oklch(27.41% 0.0055 286.03);
		--input: oklch(27.41% 0.0055 286.03);
		--ring: oklch(58.59% 0.2221 17.55);
	}

	:root {
		--default-font-family: 'Inter';
	}
	@supports (font-variation-settings: normal) {
		:root {
			--default-font-family: 'InterVariable';
		}
	}
}
